{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="flex flex-col gap-16">

        <twig:Hero/>

        
    </div>
{% endblock %}
