{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <div class="flex flex-col gap-16">

        <twig:Hero/>

        <section class="container mx-auto p-4 space-y-4">

            <h2 class="font-bold text-3xl bg-gradient-to-r from-primary to-purple-800 bg-clip-text text-transparent">
                Compétences</h2>

            <div class="flex flex-col gap-4 md:flex-row md:justify-around">

                <twig:CardSkills cardTitle="Front-end"
                                 :skills="{TypeScript: 'devicon:typescript', React: 'devicon:react', Next: 'devicon:nextjs'}"/>

                <twig:CardSkills cardTitle="Back-end"
                                 :skills="{PHP: 'devicon:php', Symfony: 'devicon:symfony', 'API Rest': 'dashicons:rest-api'}"/>

                <twig:CardSkills cardTitle="Base de données"
                                 :skills="{MySQL: 'devicon:mysql-wordmark', Doctrine: 'devicon:doctrine', Prisma: 'devicon:prisma'}"/>

            </div>

        </section>
    </div>
{% endblock %}
