{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}

    <twig:SectionLayout sectionTitle="Politique de confidentialité">
        <h3 class="font-medium text-lg">Introduction</h3>
        <p>
            Cette politique de confidentialité décrit comment nous collectons, utilisons et protégeons vos informations
            personnelles lorsque vous utilisez notre site web.
        </p>
        <h3 class="font-medium text-lg">Informations Collectées</h3>
        <p>
            <span class="font-medium">Formulaire de contact: </span>Nous collectons votre nom et votre adresse e-mail
            lorsque vous nous contactez via le formulaire de contact. Ces informations sont utilisées uniquement pour
            répondre à votre message et ne sont pas stockées dans une base de données.
        </p>
        <h3 class="font-medium text-lg">Utilisation des Informations</h3>
        <p>
            Les informations que vous nous fournissez via le formulaire de contact sont utilisées uniquement pour :
        </p>
        <ul class="list-disc pl-6">
            <li>Répondre à vos demandes.</li>
            <li>Vous fournir des informations ou des services que vous avez demandés.</li>
            <li>Partage des Informations</li>
        </ul>
        <p>Nous ne partageons pas vos informations personnelles avec des tiers.</p>
        <h3 class="font-medium text-lg">Sécurité des Informations</h3>
        <p>
            Nous prenons des mesures raisonnables pour protéger vos informations personnelles contre toute perte,
            utilisation abusive, accès non autorisé, divulgation, altération ou destruction.
        </p>
        <h3 class="font-medium text-lg">Vos Droits</h3>
        <p>
            Vous avez le droit de demander la suppression de vos informations personnelles. Pour exercer ce droit,
            veuillez nous contacter via le formulaire de contact.

        </p>
        <h3 class="font-medium text-lg">Modifications de cette Politique</h3>
        <p class="pb-12">
            Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute
            modification sera publiée sur cette page.
        </p>
    </twig:SectionLayout>
{% endblock %}