@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 224 42% 100%;
        --foreground: 224 69% 3%;
        --muted: 224 7% 40%;
        --muted-foreground: 344 12% 29%;
        --popover: 224 42% 100%;
        --popover-foreground: 224 69% 3%;
        --card: 224 69% 99%;
        --card-foreground: 224 69% 2%;
        --border: 224 11% 95%;
        --input: 224 11% 95%;
        --primary: 224 92% 65%;
        --primary-foreground: 0 0% 100%;
        --secondary: 263 88% 62%;
        --secondary-foreground: 344 0% 100%;
        --accent: 224 63% 83%;
        --accent-foreground: 104 0% 100%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 8 0% 100%;
        --ring: 224 92% 65%;
        --radius: 0.5rem;
    }
}

@layer components {
    .btn {
        @apply focus:ring-2 focus:ring-ring focus:ring-offset-2 font-medium rounded-lg px-5 py-2.5 me-2 focus:outline-none flex items-center gap-2;
    }

    .btn-primary {
        @apply bg-primary text-primary-foreground hover:bg-primary/95;
    }

    .btn-outline {
        @apply border-2 border-border hover:bg-card text-foreground/80;
    }

    .alert {
        @apply flex items-center p-4 mb-4 text-sm  border  rounded-lg;
    }

    .alert-success {
        @apply text-green-800 border-green-300 bg-green-50;
    }

    .alert-danger {
        @apply text-red-800 border-red-300 bg-red-50;
    }
}
