<footer class="bg-gray-800 text-gray-300 px-6 py-12">
    <div class="max-w-screen-xl mx-auto flex  flex-col gap-4  justify-center md:flex-row-reverse md:items-center md:justify-between">
        <div class="flex gap-6 justify-center">
            <a href="https://github.com/Simon-Honore" class="hover:text-white">
                <twig:ux:icon name="flowbite:github-solid" class="size-8"/>
            </a>
            <a href="https://www.linkedin.com/in/simon-honore/" class="hover:text-white">
                <twig:ux:icon name="flowbite:linkedin-solid" class="size-8"/>
            </a>
        </div>
        <p class="text-center">© {{ "now" | date("Y") }} - Simon Honoré. Tous droits réservés</p>
    </div>
</footer>