<section class="container mx-auto p-4 space-y-4" id="{{ sectionId ?? '' }}">

    <h2 class="font-extrabold text-4xl w-fit bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent">
        {{ sectionTitle }}
    </h2>

    {% block content %}{% endblock %}
</section>
