{% extends 'base.html.twig' %}

{% block title %}Tous les projets{% endblock %}

{% block body %}

    <twig:SectionLayout sectionTitle="Tous les projets">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 py-8">
            {% for project in projects %}
                <twig:CardProject :project="project"/>
            {% endfor %}
        </div>
    </twig:SectionLayout>
{% endblock %}
